body{
  font-family: 'Sulphur Point', sans-serif;
    font-size: 20px;
    background-color:  #F4511E;
}

h3{
  color: #fefefe;
  text-align: center;
  /* text-decoration: underline; */
  /* text-decoration-line: underline; */
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#barcode{
    margin-top: 20px;;
    background-color: #fff;
    width: 60%;
    padding: 20px 0;
    border-radius: 20px;
    border: 1px solid #F4511E;
    text-align: center;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    margin-bottom: 20px;
}

#barcode:focus{
    outline: none;
    animation: none;
}

#myBtn{
    padding: 20px;
    border-radius: 25px;
    font-weight: 400;
    background: #fefefe;
    outline: none;
    border: 1px solid #F4511E;
    font-family: 'Sulphur Point', sans-serif;

}

#myBtn:hover{
    color: #F4511E;
    background: #fefefe;
    outline: none;
    border: 1px solid #F4511E;
    font-weight: bolder;
}


 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #FBE9E7;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px outset #F4511E;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #F4511E;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #c62828;
    text-decoration: none;
    cursor: pointer;
  } 

  .buttons > *{
    outline: none;
    border: none;
    width: 40%;
    font-size: 12px;
    padding: 10px;
    border-radius: 20px; 
    transition: 1s ease-in-out;
  }
  .buttons > *:hover{
  transform: scale(1.1);
  z-index: 1;
  color: #fefefe;
}


  #upload-btn{
    background-color: #4CAF50;
    
  }

  #reset-btn{
    background-color: #FFC107;
    
  }

  label{
      font-size: 13px;
      display: block;
  }

  .row{
      margin: 10px auto;
      width: 100%;
  }
  form{
      margin: 0 auto;
      width: 50%;
   }
/* The alert message box */
.success-alert {
    display: none;
    width: 30%;
    margin: 0 auto;  
    border-radius: 25px;
    padding: 10px;
    font-size: 11px;
    background-color: #6ABC6D; /* GREEN */
    color: white;
  }

  .success-alert .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .success-alert .closebtn:hover {
    color: black;
  }

  #form input[type =text]{
    border: 1px solid #F4511E;
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
  }
  
  #form input[type = number]{
    border: 1px solid #F4511E;
    border-radius: 25px;
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
  }

  #form input[type =text]:focus{
    border: 1px solid #4CAF50;
    outline: none;

  }